html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: whitesmoke;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* Loader */
.loader {
  background: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation */
.navigation-container {
  position: fixed;
  top: -20px;
  border-top: 20px solid whitesmoke;
}

.navigation-items {
  display: flex;
  justify-content: center;
}

.background {
  position: fixed;
  right: 0;
  width: 100%;
  background: whitesmoke;
  height: 60px;
  z-index: -1;
}

.clickable {
  color: dodgerblue;
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  color: rgb(0, 99, 199);
}


/* Hidden */
.hidden {
  display: none;
}